<section class='container'>
  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h2>Register</h2>
        <hr class="colorgraph">
        <div class="form-group">
          <input type="text"
            class="form-control input-lg"
            placeholder="Nome"
            [(ngModel)]="nome">
        </div>
        <div class="form-group">
          <input type="email"
            class="form-control input-lg"
            placeholder="Email Address"
            [(ngModel)]="email">
        </div>
        <div class="form-group">
          <input type="password"
            class="form-control input-lg"
            placeholder="Password"
            [(ngModel)]="password">
        </div>
        <hr class="colorgraph">
        <button
          (click)="onDestroyRegisterComponent()"
          class="btn btn-danger register">
          Voltar
        </button>
        <button
          (click)="registerClick()"
          class="btn btn-primary register">
          Register
        </button>
      </div>
    </div>
    <app-alert
      style="padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: -ms-grid;
        display: grid;
        width: 100%;
        height: 100px"
      *ngIf="alertRenderSuccess"
      [alertType]="'alert-success'"
      [header]="'Bem vindo!'"
      [conteudo]="'Você será redirecionado, em instantes!'">
    </app-alert>
    <app-alert
      style="padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: -ms-grid;
        display: grid;
        width: 100%;
        height: 100px"
        *ngIf="alertRenderError"
      [alertType]="'alert-danger'"
      [header]="'Erro.'"
      [conteudo]="'Favor preencher todos os campos'">
    </app-alert>
</section>
