<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <fieldset>
      <h2>Profile</h2>
      <hr class="colorgraph">
      <div class="form-group">
        <input
          type="email"
          [(ngModel)]="email"
          class="form-control input-lg"
          placeholder="Email Address"
          readonly>
      </div>
      <div class="form-group">
        <input
          type="password"
          [(ngModel)]="password"
          class="form-control input-lg"
          placeholder="Password">
      </div>
      <div class="form-group">
          <input
            type="password"
            [(ngModel)]="confirmPassword"
            class="form-control input-lg"
            placeholder="Confirm Password">
        </div>
      <hr class="colorgraph">
      <div class="row">
        <div>
            <input
              type="submit"
              class="btn btn-lg btn-success btn-block"
              value="Change Password"
              (click)="changePassword()">
        </div>
      </div>
    </fieldset>
    <app-alert
      style="padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
      display: -ms-grid;
      display: grid;
      width: 100%;
      height: 100px"
      *ngIf="alertRender"
      [alertType]="'alert-success'"
      [header]="'Senha Alterada com sucesso.'"
      [conteudo]="'Você será redirecionado, favor logar novamente'">
    </app-alert>
    <app-alert
      style="padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
      display: -ms-grid;
      display: grid;
      width: 100%;
      height: 100px"
      *ngIf="alertRenderError"
      [alertType]="'alert-danger'"
      [header]="'Error.'"
      [conteudo]="'Senhas sao diferentes, ou senha nao contem no minimo 8 caracteres. \nFavor confirmar a senha'">
    </app-alert>


</div>
